##### 1. Create variable age equal to 32 and check its type.

In [1]:
age = 32
type(age)

int

##### 2. Create variable height equal to 1.85 and check its type.

In [2]:
height = 1.85
type(height)

float

#### 3. Create variables name and surname. Define them as 'your_name' and 'your_surname'.

In [3]:
name = 'your_name'
surname = 'your_surname'

#### 4. Sum up name and surname variables. Define as ID.

In [4]:
ID = name + ' ' + surname

In [5]:
ID

'your_name your_surname'

##### 5. Use indexing. Find last letter of 'your_name'.

In [6]:
name[-1]

'e'

##### 6. Use slicing. Find 2nd and 3rd letters of 'your_surname'.

In [9]:
surname[1:3]

'ou'

##### 7. Create list as new_list. Include 3 4 5 6 7 integers.

In [10]:
new_list = [3,4,5,6,7]

##### 8. Remove 5 from new_list.

In [14]:
new_list.remove(5)

In [15]:
new_list

[3, 4, 6, 7]

##### 9. Delete 2nd value of new_list.

In [16]:
new_list.pop(1)

4

In [17]:
new_list

[3, 6, 7]

##### 10. Create tuple as new_tuple. Include 3 4 5 6 7 integers.

In [18]:
new_tuple = (3,4,5,6,7)

##### 11. Change 4 in new_tuple to 8.

In [24]:
new_tuple[1] = 8

TypeError: 'tuple' object does not support item assignment

It is not possible to assign any values to tuples