##### 1.Print First 10 natural numbers using while loop.

In [1]:
i=1
while i<=10:
    print(i)
    i+=1

1
2
3
4
5
6
7
8
9
10

##### 2.Display -10 to -1 using for loop.

In [2]:
for i in range(-10,0):
    print(i)

-10
-9
-8
-7
-6
-5
-4
-3
-2
-1

##### 3.Write a Python program that prints all the numbers from 0 to 6 except 3 and 6.

In [4]:
for i in range(0,6):
    if i==3 or i==6:
        continue
    print(i)

0
1
2
4
5

##### 4.Calculate the sum of all number between 1 and 111.

In [6]:
s=0
for i in range(1,12):
    s+=i
print(s)

66

##### 5.Reverse the following list using for loop: list1 = [10, 20, 30, 40, 50]

In [16]:
list2=[]
for i in range(len(list1)):
    list2.append(list1[-1])
    del list1[-1]

In [17]:
list1 = [10,20,30,40,50]

In [18]:
list2

[50, 40, 30, 20, 10]

##### 6.Write a Python program to find those numbers which are divisible by 7 and 5, between 1500 and 2700 (both included).

In [23]:
for i in range(1500,2701):
    if i%7==0 and i%5==0:
        print(i)

1505
1540
1575
1610
1645
1680
1715
1750
1785
1820
1855
1890
1925
1960
1995
2030
2065
2100
2135
2170
2205
2240
2275
2310
2345
2380
2415
2450
2485
2520
2555
2590
2625
2660
2695

##### 7.Display a message “Done” after successful execution of for loop.

In [24]:
for i in range(1500,2701):
    if i%7==0 and i%5==0:
        print(i)
print()
print('Done')

1505
1540
1575
1610
1645
1680
1715
1750
1785
1820
1855
1890
1925
1960
1995
2030
2065
2100
2135
2170
2205
2240
2275
2310
2345
2380
2415
2450
2485
2520
2555
2590
2625
2660
2695

Done

##### 8.Write a Python program to create a lambda function that adds 15 to a given number passed in as an argument, also create a lambda function that multiplies argument x with argument y and print the result.

In [30]:
y = lambda x: x+15
y(50)

65

In [32]:
multiply = lambda x,y:x*y

In [33]:
multiply(3,4)

12

##### 9.Write a Python program to square and cube every number in a given list of integers using Lambda.

In [43]:
list(map(lambda x:x**2,l))

[9, 16, 25, 36]

In [47]:
l = [3,4,5,6]

In [49]:
list(map(lambda x:x**3,l))

[27, 64, 125, 216]

##### 10.Write a lambda function that returns takes x as parameter and returns x+2. Then assign itto a variable named L.

In [50]:
L = lambda x:x+2

In [51]:
L(6)

8

##### 11.Write a function which takes two arguments: a and b and returns the multiplication ofthem: a*b. Assign it to a variable named f.

In [52]:
f = lambda x,y:x*y

In [53]:
f(7,9)

63

##### 12.Write a Python program to add two given lists using map and lambda.

In [55]:
l1 = [1,2,3,4,5,6]
l2=[7,8,9,10]
list(map(lambda x,y:x+y, l1,l2))

[8, 10, 12, 14]

##### 13.Write a map function that adds plus 5 to each item in the list.

In [57]:
list(map(lambda x:x+5,l1))

[6, 7, 8, 9, 10, 11]

##### 14.Write a map function that adds "Hello, " in front of each item in the list.

In [59]:
s = ['Zeyneb','Anar','Aynur','Semed']
list(map(lambda x:'Hello'+' '+x,s))

['Hello Zeyneb', 'Hello Anar', 'Hello Aynur', 'Hello Semed']

##### 15. Using map() function and len() function create a list that's consisted of lengths of each element in the first list.

In [60]:
list(map(lambda x:len(x),s))

[6, 4, 5, 5]

##### 16. Using map() function and lambda add each elements of two lists together. Use a lambda with two arguments.

In [62]:
list(map(lambda x,y:x+y,l1,l2))

[8, 10, 12, 14]

##### 17. Using map() , lambda and count() functions create a list consisted of the number of occurrence of letter: a.

In [67]:
list(map(lambda x:x.count('a'),s))

[0, 1, 0, 0]

##### 18. Using map(), lambda and count() functions create a list consisted of the number of occurrence of both letters: A and a.

In [72]:
list(map(lambda x:x.count('a')+x.count('A'),s))

[0, 2, 1, 0]

In [73]:
s

['Zeyneb', 'Anar', 'Aynur', 'Semed']

##### 19. Using filter() function filter the list so that only negative numbers are left.

In [78]:
ededler = [2,-1,8,98,0,-7,9]
list(filter(lambda x:x<0,ededler))

[-1, -7]

##### 20. Using filter function, filter the even numbers so that only odd numbers are passed to the new list.

In [79]:
new = list(filter(lambda x:x%2!=0,ededler))

In [80]:
new

[-1, -7, 9]

##### 21. Using filter() and list() functions and .lower() method filter all the vowels in a givenstring.

In [82]:
fullname = 'Zeyneb Aliyeva'
vowels = ['a','e','i','o','u']
list(filter(lambda x:x in vowels,fullname.lower()))

['e', 'e', 'a', 'i', 'e', 'a']

##### 22.This time using filter() and list() functions filter all the positive integers in the string.

In [95]:
str = '2390575576'
list(filter(lambda x:int(x)>0,str))

['2', '3', '9', '5', '7', '5', '5', '7', '6']

##### 23. Using map() and filter() functions add 2000 to the values below 8000.

In [113]:
p=[200,989237873,89,0,256,-9,800]
list(map(lambda x:x+2000, filter(lambda x:x<8000,p)))

[2200, 2089, 2000, 2256, 1991, 2800]

##### 24.Write a Python program to count the even, odd numbers in a given array of integers using Lambda.

In [114]:
[len(list(filter(lambda x:x%2==0,p))), len(list(filter(lambda x:x%2!=0,p)))]

[4, 3]

##### 25.Write a Python program to filter a given list whether the values in the list are having length of 6 using Lambda.

In [120]:
s

['Zeyneb', 'Anar', 'Aynur', 'Semed', 'Zulfiyye']

In [122]:
list(filter(lambda x:len(x)==6, s))

['Zeyneb']

##### 26.Write a Python program to find numbers divisible by nineteen or thirteen from a list of numbers using Lambda.

In [130]:
list(filter(lambda x:x%19==0 or x%13==0,l2))

[38, 39]

In [129]:
l2

[7, 8, 9, 10, 38, 39]

##### 27. Using zip() function and list() function, create a merged list of tuples from the two lists given.

In [132]:
a = [1,2,3,4,5]
b= [6,7,8,9,10]
list(zip(a,b))

[(1, 6), (2, 7), (3, 8), (4, 9), (5, 10)]

##### 28. First create a range from 1 to 8. Then using zip, merge the given list and the range together to create a new list of tuples.

In [141]:
numbers = range(1,9)
adlar = s+['Emin','Saleh','Hesen']

In [142]:
adlar

['Zeyneb', 'Anar', 'Aynur', 'Semed', 'Zulfiyye', 'Emin', 'Saleh', 'Hesen']

In [143]:
list(zip(numbers,adlar))

[(1, 'Zeyneb'),
 (2, 'Anar'),
 (3, 'Aynur'),
 (4, 'Semed'),
 (5, 'Zulfiyye'),
 (6, 'Emin'),
 (7, 'Saleh'),
 (8, 'Hesen')]

##### 29. Using zip and dict functions create a dictionary which has its key-value pairs comingfrom lst1 and lst2.

In [157]:
lst1 = [1,2,3,5,4]
lst2 = ['alma','armud','banan','heyva','ananas']
dict(zip(lst1,lst2))

{1: 'alma', 2: 'armud', 3: 'banan', 5: 'heyva', 4: 'ananas'}

##### 30. Using zip, list and sorted functions create a sorted list of tuples from lst1 and lst2.

In [160]:
sorted(list(zip(lst1,lst2)))

[(1, 'alma'), (2, 'armud'), (3, 'banan'), (4, 'ananas'), (5, 'heyva')]